<%- include ('../layouts/adminHeader.ejs') %>

<%- include ('../layouts/adminMain.ejs') %>

    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">
        <form action=""></form>
        <a class="btn btn-primary" href="/admin/addProduct">Add Product</a>

        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> </h4>


        <div class="card">
          <h5 class="card-header">Product list</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>

              </thead>
              <thead>
                <th>SI NO</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Rating</th>
                <th>category</th>
                <th>Details</th>
                <th>Action</th>
              </thead>
              <tbody>
                <% if(products.length> 0){ %>
                  <% for(let i=0;i < products.length; i++){ %>
                    <% if(products[i]){ %>

                      <tr>
                        <td>
                          <%= i+1 %>
                        </td>
                        <td>

                          <%= products[i].name %>
                        </td>
                        <td>
                          <%= products[i].quantity %>
                        </td>
                        <td>
                          <%= products[i].price %>
                        </td>
                        <td>
                          <%= products[i].rating %>
                        </td>
                        <td>
                          <%= products[i].category%>
                        </td>
                        <td>
                          <!-- <% if(products[i].image) { %>
                            <img src="/admin/uploadedimages/<%= products[i].image[0] %>" width="100vw" height="100vh">
                            <% }else{ %>
                              Image Not Found
                              <% } %> -->
                              <a class="btn btn-outline-primary" href="/admin/viewProduct?id=<%= products[i]._id %>">View</a>
                        </td>
                        <td>
                          <a class="btn btn-warning" href="/admin/editProduct?id=<%= products[i]._id %>"><i
                              style="color: green;" class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>
                          <!-- <a data-toggle="modal" style="color: red"; data-target="
                            #deleteModal" href=""><i
                                class=" m-r-5 mdi mdi-delete-forever"></i>Delete</a> -->
                          <!-- <a class="btn btn-danger mt-1 trigger-btn" href="#myModal"  data-toggle="modal"><i
                              style="color: #ff0000;" class="m-r-5 mdi mdi-border-color"></i>Delete</a><br> -->
                          <% if(products[i].isAvailable) { %>
                            <a class="btn btn-danger text-white click"  style="width: 90px;margin-top: 16px;"
                              href="/admin/unlistProduct?id=<%= products[i]._id %>">Unlist</a>
                            <!-- Modal HTML -->
                            
                                    <!-- <button type="button" class="btn btn-danger">Delete</button> -->
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                            <% } else { %>
                              
                              <a  class="btn btn-success text-white"  style="width: 90px;margin-top: 16px;"
                                          href="/admin/listProduct?id=<%= products[i]._id %>">List</a>
                              <% } %>
                        </td>
                      </tr>
                      <% } %>
                        <% } } else{ %>
                          <tr>
                            <td colspan="5">Products Not Found</td>
                          </tr>
                          <% } %>

              </tbody>
            </table>
          </div>
        </div>

        <script>
          $('.click').on('click',function (e) {
              e.preventDefault();
              var self = $(this);
              console.log(self.data('title'));
              Swal.fire({
                  title: 'Are you sure?',
                  text: "You want to unlist product?",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, unlist it!'
              }).then((result) => {
                  if (result.isConfirmed) {
                      Swal.fire(
                          'Unlisted!',
                          'Product has been Unlisted.',
                          'success'
                      )
                    location.href = self.attr('href');
                  }
              })
          })
      </script>


<%- include ('../layouts/adminFooter.ejs') %>